* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}





/* Dark Mode Styles */
body.dark-mode {
  background-color: #121212;
  color: #e0e0e0;
}

body.dark-mode a {
  color: #bb86fc;
}

body.dark-mode h1, body.dark-mode h2, body.dark-mode h3, body.dark-mode h4, body.dark-mode h5, body.dark-mode h6 {
  color: #e0e0e0;
}

/* Example for other components - Adjust based on your needs */
body.dark-mode .form-container {
  background-color: #1f1f1f;
  color: #e0e0e0;
}

body.dark-mode .book-card {
  background-color: #1f1f1f;
  color: #e0e0e0;
}

body.dark-mode .modal {
  background-color: #333;
  color: #e0e0e0;
}

body.dark-mode .navbar {
  background-color: #333;
  color: #fff;
}

body.dark-mode .navbar-links_container p a,
body.dark-mode .navbar-menu_container-links p a {
  color: #fff;
}

body.dark-mode .navbar-menu_container {
  background: #444;
  color: #fff;
}

.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

.dark-mode .navbar {
  background-color: #1e1e1e;
}

.dark-mode .navbar-links_container p a,
.dark-mode .navbar-menu_container-links p a {
  color: #ffffff;
}